body{
    font-size: 23px;
    background-color: #E4DFBA;
    color: #581845;
}
.titulo
{
    text-align: center;
}

.control
{
    text-align: center;
}

.numeroCuadricula{
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calcular{
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
}

.nuevoJuego
{
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
}

.reinicio{
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
}

canvas
{
    /*border: 1px solid black;*/
}